html,
body {
    padding: 0;
    margin : 0;
}

.livestream-container {
    position   : relative;
    width      : 100%;
    height     : 0;
    padding-top: calc(100% / 16 * 9);
}

.livestream-container iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

.chat-container {
    position   : fixed;
    width      : 50%;
    max-width  : 400px;
    height     : 0;
    top        : 0;
    left       : 0;
    padding-top: calc(100% / 16 * 9);
}

.chat-container iframe {
    position: absolute;
    opacity : 0.75;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

.button-container {
    display: flex;
    width  : 100%;
    height : 100px;
}

.button-container input {
    flex-grow: 1;
    margin   : 5px;
}

h2 {
    font-size       : 1em;
    text-align      : center;
    line-height     : 2em;
    font-weight     : normal;
    margin          : 0;
    width           : 100%;
    height          : 2em;
    border          : none;
    background-color: rgb(201, 231, 255);
}